name: Deploy to Azure Container

on:
    workflow_dispatch:

env:
    AZURE_CONTAINER_REGISTRY: basicstoragedevlqpocs4srhlb4
    CONTAINER_APP_NAME: basicstoragedevlqpocs4srhlb4
    RESOURCE_GROUP: packt-dev-resource-rg

jobs:

    build-app:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6
              name: Checkout code
            
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3.12.0

            - name: Log in to ACR
              uses: docker/login-action@v3
              with:
                registry: ${{ env.AZURE_CONTAINER_REGISTRY }}.azurecr.io
                username: ${{ secrets.AZURE_REGISTRY_USERNAME }}
                password: ${{ secrets.AZURE_REGISTRY_PASSWORD }}

            - name: Docker Build and Push container image to ACR
              uses: docker/build-push-action@v6
              with:
                push: true
                tags: ${{ env.AZURE_CONTAINER_REGISTRY }}.azurecr.io/${{ env.CONTAINER_APP_NAME}}:${{ github.sha }}
                file: "./app/Dockerfile"

            - name: Azure login
              uses: azure/login@v2
              with:
                creds: ${{ secrets.AZURE_CREDENTIALS }}

            - name: Deploy to Azure Container Apps
              uses: azure/container-apps-deploy-action@v1
              with:
                imageToDeploy: ${{ env.AZURE_CONTAINER_REGISTRY }}.azurecr.io/${{ env.CONTAINER_APP_NAME}}:${{ github.sha }}
                resourceGroup: ${{ env.RESOURCE_GROUP }}
                containerAppName: ${{ env.CONTAINER_APP_NAME }}