name: az-login-demo

on:
  workflow_dispatch: {}

permissions:
  id-token: write
  contents: read

jobs:
  test-azure-login:
    runs-on: ubuntu-latest
    steps:
      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

