name : az-login-demo

on:
    workflow_dispatch:

jobs:
    test-azure-login:
        runs-on: ubuntu-latest

        steps:
            - name: Azure Login
            uses: azure/login@v2
            with:
                client-id: ${{ secrets.AZURE_CLIENT_ID }}
                tenant-id: ${{ secrets.AZURE_TENANT_ID }}
                subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
                client-secret: ${{ secrets.AZURE_CLIENT_SECRET }} 